body {
	display: block;
	position: relative;
	margin: 0px;
}

.top-nav-bar {
	height: 50px;
	background-color: black;
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

#main {
	margin-top: 30px;
	z-index: 2;
}

#logo {
	font-size: 20px;
	letter-spacing: 3px;
	color: white;
	position: absolute;
	top: calc(19%);
	left: calc(6%);
	font-family: PT Sans Narrow;
}

#logo:hover{
	text-decoration: underline;
	cursor:pointer;
}

#logo a:link {
	text-decoration: none;
	color: white;
}

#logo a:visited{
	text-decoration: none;
	color: white;
}


.menu {
	display: inline-block;
	position: absolute;
	top: calc(7%);
	left: calc(70%);
}

.menu-item {
	font-size: 15px;
	letter-spacing: 2px;
	color: white;
	margin-right: 50px;
	font-family: PT Sans Narrow;
	display: inline-block;
}

.menu-item:hover{
	text-decoration: underline;
	cursor:pointer;
}

.menu-item a:link {
	text-decoration: none;
	color: white;
}

.menu-item a:visited{
	text-decoration: none;
	color: white;
}


.info-module {
	position: fixed;
}

#about {
	position: fixed;
	top: 110px;
	left: 725px;
}


#bio {
	position: fixed;
	top: 340px;
	left: 735px;
	width: 340px;
	font-family: PT Sans Narrow;
	font-size: 15px;
	word-spacing: 5px;
}

a:link {
	color: maroon;
}

a:visited {
	color: maroon;
}

.first-picture {
	margin: 75px;
	width: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.first-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.second-picture {
	margin: 75px;
	width: 233.5px;
	position: absolute;
	top: 425px;
	left: 0px;
}

.second-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.third-picture {
	margin: 75px;
	width: 325px;
	position: absolute;
	top: 425px;
	left: 260px;
}

.third-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fourth-picture {
	margin: 75px;
	width: 325px;
	position: absolute;
	top: 675px;
	left: 260px;
}

.fourth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fifth-picture {
	margin: 75px;
	width: 233.5px;
	position: absolute;
	top: 800px;
	left: 0px;
}

.fifth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sixth-picture {
	margin: 75px;
	width: 233.5px;
	position: absolute;
	top: 990px;
	left: 0px;
}

.sixth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.seventh-picture {
	margin: 75px;
	width: 233.5px;
	position: absolute;
	top: 990px;
	left: 0px;
}

.seventh-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}