

body {
	position: relative;
	margin: 0px;
}

.top-nav-bar {
    height: 50px;
    background-color: black;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

#main {
    margin-top: 30px;
    z-index: 2;
}

#logo {
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    position: absolute;
    top: calc(19%);
    left: calc(6%);
    font-family: PT Sans Narrow;
}

#logo:hover{
    text-decoration: underline;
    cursor:pointer;
}

#logo a:link {
    text-decoration: none;
    color: white;
}

#logo a:visited{
    text-decoration: none;
    color: white;
}


.top-menu {
    display: inline-block;
    position: absolute;
    top: calc(7%);
    left: calc(70%);
}

.top-menu-item {
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    margin-right: 50px;
    font-family: PT Sans Narrow;
    display: inline-block;
}

.top-menu-item:hover{
    text-decoration: underline;
    cursor:pointer;
}

.top-menu-item a:link {
    text-decoration: none;
    color: white;
}

.top-menu-item a:visited{
    text-decoration: none;
    color: white;
}

#header {
    position: absolute;
    top: 100px;
    left: calc(50% - 100px);
}

.featured-picture {
    position: absolute;
    top: 350px;
    left: calc(50% - 365px);
    height: 400px;
    padding: 5px;
}

.featured-headline{
    position: absolute;
    top: 400px;
    left: calc(50% + 150px);
    width: 250px;
    font-size: 25px;
    font-weight: 350px;
    letter-spacing: 0.5px;
    font-family: PT Sans Narrow;
    color: black;
}

.featured-headline:hover {
    text-decoration: undeline;
    color: maroon;
}

.featured-picture:hover {
    cursor:pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#work-container{
    position: absolute;
    top: 750px;
    left: calc(50% - 430px);
    display: inline-block;
    height: 825px;
    overflow: scroll;
} 


.work-item{
    width: 250px;
    height: 250px;
    margin: 25px;
    padding: 5px;
    display: inline-block;
    align-self: center;
}

.work-item:hover {
    cursor:pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.work-picture {
    width: 250px;
    height: 200px;
    margin-bottom: 7.5px;
}

.headline{
    font-family: PT Sans Narrow;
    font-size: 12.5px;
}

.menu {
    position: absolute;
    top: 300px;
    left: calc(50% - 140px);
    display: inline-block;
}

.menu-item{
    font-family: PT Sans Narrow, serif;
    font-size: 15px;
    color: maroon;
    letter-spacing: 2.5px;
    margin-right: 75px;
    display: inline-block;
}

.menu-item:hover {
    text-decoration: underline;
    cursor:pointer;
}

a:link {
    text-decoration: none;
    color: maroon;
}

a:visited {
    text-decoration: none;
    color: maroon;
}