body {
	display: block;
	position: relative;
	margin: 0px;
}

.top-nav-bar {

}

#line1 { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 1400px;
}


#line2 { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    position: absolute;
    top: 940px;
    left: 1400px;
}
#info-module {
	position: fixed;
	display: inline-block; 
	background-color: white;
}

.top-nav-bar {
	height: 50px;
	background-color: black;
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

#main {
	margin-top: 30px;
	z-index: 2;
}



#logo {
	font-size: 20px;
	letter-spacing: 3px;
	color: white;
	position: absolute;
	top: calc(19%);
	left: calc(6%);
	font-family: PT Sans Narrow;
}

#logo:hover{
	text-decoration: underline;
	cursor:pointer;
}

#logo a:link {
	text-decoration: none;
	color: white;
}

#logo a:visited{
	text-decoration: none;
	color: white;
}


.top-menu {
	display: inline-block;
	position: absolute;
	top: calc(7%);
	left: calc(70%);
}

.top-menu-item {
	font-size: 15px;
	letter-spacing: 2px;
	color: white;
	margin-right: 50px;
	font-family: PT Sans Narrow;
	display: inline-block;
}

.top-menu-item:hover{
	text-decoration: underline;
	cursor:pointer;
}

.top-menu-item a:link {
	text-decoration: none;
	color: white;
}

.top-menu-item a:visited{
	text-decoration: none;
	color: white;
}


#name {
	font-family: mySecondFont;
	font-size: 200px;
	text-align: left;
	letter-spacing: 5px;
	line-height: 30%;
	position: absolute;
	top: 45px;
	left: 725px;
}


.menu {
	position: fixed;
    top: 400px;
    left: 725px;
    display: inline-block;
}
.menu-item{
	font-family: PT Sans Narrow, serif;
	font-size: 15px;
	color: maroon;
    letter-spacing: 5px;
    margin-right: 75px;
    display: inline-block;
}

.menu-item:hover {
	text-decoration: underline;
	cursor:pointer;
}

a:link {
	text-decoration: none;
	color: maroon;
}

a:visited {
	text-decoration: none;
	color: maroon;
}


#contact {
	position: fixed;
	top: 460px;
	left: 770px;
	height: 50px;
	width: 300px;
	font-family: PT Sans Narrow;
	font-size: 15px;
	letter-spacing: 1.5px;
	color: white;
	text-align: center;
	background-color: black;
}

#contact:hover {
	color: maroon;
	background-color: white;
}

#contact-item{
	font-size: 10px;
}

#arrow {
	position: absolute;
	top: 500px;
	left: 725px;
}

.first-picture {
	margin: 75px;
	width: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.first-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.second-picture {
	margin: 75px;
	width: 233.5px;
	position: absolute;
	top: 425px;
	left: 0px;
}

.second-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.third-picture {
	margin: 75px;
	width: 340px;
	position: absolute;
	top: 425px;
	left: 260px;
}

.third-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fourth-picture {
	margin: 75px;
	width: 340px;
	position: absolute;
	top: 675px;
	left: 260px;
}

.fourth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fifth-picture {
	margin: 75px;
	width: 233.5px;
	position: absolute;
	top: 800px;
	left: 0px;
}

.fifth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sixth-picture {
	margin: 75px;
	width: 233.5px;
	position: absolute;
	top: 990px;
	left: 0px;
}

.sixth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.seventh-picture {
	margin: 75px;
	width: 233.5px;
	position: absolute;
	top: 990px;
	left: 0px;
}

.seventh-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}