body {
	display: block;
	position: relative;
	margin: 0px;
}

.top-nav-bar {
	width: 100%;
	height: 70px;
	background-color: black;
}

.info-module {
	position: fixed;
}

#about {
	font-family: mySecondFont;
	font-size: 200px;
	text-align: left;
	letter-spacing: 5px;
	line-height: 30%;
	position: fixed;
	top: 220px;
	left: 1450px;
}

.menu {
	position: fixed;
	top: 680px;
	left: 1470px;
	width: 680px
}

#bio {
	font-family: PT Sans Narrow;
	font-size: 30px;
	word-spacing: 10px;
}

a:link {
	color: maroon;
}

a:visited {
	color: maroon;
}

.first-picture {
	margin: 150px;
	width: 1200px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.first-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.second-picture {
	margin: 150px;
	width: 467px;
	position: absolute;
	top: 850px;
	left: 0px;
}

.second-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.third-picture {
	margin: 150px;
	width: 650px;
	position: absolute;
	top: 850px;
	left: 520px;
}

.third-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fourth-picture {
	margin: 150px;
	width: 650px;
	position: absolute;
	top: 1350px;
	left: 520px;
}

.fourth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fifth-picture {
	margin: 150px;
	width: 467px;
	position: absolute;
	top: 1600px;
	left: 0px;
}

.fifth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sixth-picture {
	margin: 150px;
	width: 467px;
	position: absolute;
	top: 1980px;
	left: 0px;
}

.sixth-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.seventh-picture {
	margin: 150px;
	width: 467px;
	position: absolute;
	top: 1980px;
	left: 0px;
}

.seventh-picture:hover {
	cursor:pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}